html, body, .app, .app-content, #root {
  height: 100%;
  width: 100%;
}

html, body, .app {
  display: flex;
  flex-wrap: wrap;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

.app-content {
  overflow: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.app-content > * {
  scroll-snap-align: start;
}