#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

#nav {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-item {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}