html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main, #third {
    width: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
}

#main {
    background-image: url('../assets/brandon.jpg');
    height:300vh;

}

#third {
    background-image: url('../assets/brandon2.jpg');
    height: 100%;
}

#second {
    width: 100%;
    height: 100%;
    background-color: black;
}